<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');">
  <div class="banner-content">
    <h1>Welcome to Pablo's cocktails!</h1>
    <p>Create and share your own compositions!! :)</p>
    <%= link_to "Not enough cocktails!", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>


